<%-- 
    Document   : admin_menu
    Created on : 19-Jan-2012, 06:27:08
    Author     : TTMO
--%>

<%@tag description="put the tag description here" pageEncoding="windows-1252" %>

<%-- The list of normal or fragment attributes can be specified here: --%>
<%@attribute name="message" %>

<%-- any content can be specified here e.g.: --%>
<li class="first"><a href="start.jsp">Home</a></li>
<li class="on"><a href="services.jsp">Services</a></li>
<li><a href="contents.jsp">Content</a></li>
<li><a href="iReport.do">iReport</a></li>
<li><a href="new_account.jsp">New Account</a></li>