<%-- 
    Document   : timeOfBlast
    Created on : Jan 30, 2013, 9:04:08 PM
    Author     : salbert
--%>

<%@tag description="put the tag description here" pageEncoding="windows-1252" %>

<%-- The list of normal or fragment attributes can be specified here: --%>
<%@attribute name="message" %>
<%-- any content can be specified here e.g.: --%>
<option value="0">1HR</option>
<option value="0">1HR</option>
<option value="2">2HRs</option>
<option value="3">3HRs</option>
<option value="4">4HRs</option>
<option value="5">5HRs</option>
<option value="6">6HRs</option>
<option value="7">7HRs</option>
<option value="8">8HRs</option>
<option value="9">9HRs</option>
<option value="10">10HRs</option>
<option value="11">11HRs</option>
<option value="12">12HRs</option>
<option value="13">13HRs</option>
<option value="14">14HRs</option>
<option value="15">15HRs</option>
<option value="16">16HRs</option>
<option value="17">17HRs</option>
<option value="18">18HRs</option>
<option value="19">19HRs</option>
<option value="20">20HRs</option>
<option value="21">21HRs</option>
<option value="22">22HRs</option>
<option value="23">23HRs</option>
