<%-- 
    Document   : expiryDate
    Created on : Jan 30, 2013, 9:04:52 PM
    Author     : salbert
--%>

<%@tag description="put the tag description here" pageEncoding="windows-1252" %>

<%-- The list of normal or fragment attributes can be specified here: --%>
<%@attribute name="message" %>

<%-- any content can be specified here e.g.: --%>
<option value="0">0 day</option>
<option value="1">1 day</option>
<option value="2">2 Days</option>
<option value="3">3 Days</option>
<option value="4">4 Days</option>
<option value="5">5 Days</option>
<option value="6">6 Days</option>
<option value="7">7 Days</option>
<option value="8">8 Days</option>
<option value="9">9 Days</option>
<option value="10">10 Days</option>
<option value="11">11 Days</option>
<option value="12">12 Days</option>
<option value="13">13 Days</option>
<option value="14">14 Days</option>
<option value="15">15 Days</option>
<option value="16">16 Days</option>
<option value="17">17 Days</option>
<option value="18">18 Days</option>
<option value="19">19 Days</option>
<option value="20">20 Days</option>
<option value="21">21 Days</option>
<option value="22">22 Days</option>
<option value="23">23 Days</option>
<option value="24">24 Days</option>
<option value="25">25 Days</option>
<option value="26">26 Days</option>
<option value="27">27 Days</option>
<option value="28">28 Days</option>
<option value="29">29 Days</option>
<option value="30">30 Days</option>
