<%@tag description="put the tag description here" pageEncoding="windows-1252" %>
<%-- The list of normal or fragment attributes can be specified here: --%>
<%@attribute name="message" %>

<%-- any content can be specified here e.g.: --%>
<div id="header">
    <!--<h1><a href="index.jsp"><u>Secure</u> <span> <u> Enterprise</u> </span> <u>VAS</u> <span> <u>Platform</u> </span></u> </a></h1>-->
    <h1></h1>
</div>