<%-- 
    Document   : help
    Created on : 14-Dec-2011, 00:40:56
    Author     : TTMO
--%>

<%@tag description="put the tag description here" pageEncoding="windows-1252" %>

<%-- The list of normal or fragment attributes can be specified here: --%>
<%@attribute name="message" %>

<%-- any content can be specified here e.g.: --%>
<hr/>
<!--<h2>SEVAS</h2>-->

