<%-- 
    Document   : login_form
    Created on : 14-Dec-2011, 00:40:08
    Author     : TTMO
--%>

<%@tag description="put the tag description here" pageEncoding="windows-1252" %>
<%@attribute name="nologin" type="java.lang.Boolean" %>
<%-- The list of normal or fragment attributes can be specified here: --%>
<%@attribute name="message" %>

<%-- any content can be specified here e.g.: --%>
<form method="post" action="j_security_check">
    <fieldset>
        <legend>Login</legend>
        <p><label for="name">Username: </label><br/><input style="width: 150px;" type="text" name="j_username"
                                                           id="name"/></p>
        <p><label for="email">Password: </label><br/><input style="width: 150px;" type="password" name="j_password"
                                                            id="email"/></p>
        <p><input type="submit" value="Login" class="btn"/></p>
    </fieldset>
</form>
