<%-- 
    Document   : expiryDate
    Created on : Jan 30, 2013, 9:04:52 PM
    Author     : salbert
--%>

<%@tag description="put the tag description here" pageEncoding="windows-1252" %>

<%-- The list of normal or fragment attributes can be specified here: --%>
<%@attribute name="message" %>

<%-- any content can be specified here e.g.: --%>
<option value="0">N0</option>
<option value="5">N5</option>
<option value="10">N10</option>
<option value="15">N15</option>
<option value="20">N20</option>
<option value="25">N25</option>
<option value="30">N30</option>
<option value="50">N50</option>
<option value="75">N75</option>
<option value="100">N100</option>