<%-- 
    Document   : reminderPeriod
    Created on : Feb 18, 2013, 10:40:01 PM
    Author     : salbert
--%>

<%@tag description="put the tag description here" pageEncoding="windows-1252" %>

<%-- The list of normal or fragment attributes can be specified here: --%>
<%@attribute name="message" %>

<%-- any content can be specified here e.g.: --%>
<option value="0">0 Hr</option>
<option value="1">1 day</option>
<option value="2">2 Hr</option>
<option value="3">3 Hr</option>
<option value="4">4 Hr</option>
<option value="5">5 Hr</option>
<option value="6">6 Hr</option>
<option value="7">7 Hr</option>
<option value="8">8 Hr</option>
<option value="9">9 Hr</option>
<option value="10">10 Hr</option>
<option value="11">11 Hr</option>
<option value="12">12 Hr</option>
<option value="13">13 Hr</option>
<option value="14">14 Hr</option>
<option value="15">15 Hr</option>
<option value="16">16 Hr</option>
<option value="17">17 Hr</option>
<option value="18">18 Hr</option>
<option value="19">19 Hr</option>
<option value="20">20 Hr</option>
<option value="21">21 Hr</option>
<option value="22">22 Hr</option>
<option value="23">23 Hr</option>
