/*----------------------------
        The Chart
-----------------------------*/

.chart_container {
    width: 820px;
    border: 1px solid #CDCDCD;
    padding: 20px;
    border-radius: 3px;
    background-color: white;
    margin-bottom: 15px;
    position: relative;
    box-shadow: 1px 1px 2px #EEE, 0 -3px 5px #F3F3F3 inset;
}

.chart_container label.chart_title {
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: maroon;
}

.chart_container .chart figure {
    width: 90%;
    height: 320px;
}

/*#placeholder {
    width: 820px;
    border: 1px solid #CDCDCD;
    padding: 20px;
    border-radius: 3px;
    background-color: white;
    margin-bottom: 15px;
    position: relative;
    box-shadow: 1px 1px 2px #EEE, 0 -3px 5px #F3F3F3 inset;
}*/

/*#content {
    margin: 0px auto;
    padding: 45px;
    position: relative;
    width: 590px;
}*/

/*#placeholder_rev {
    width: 820px;
    border: 1px solid #CDCDCD;
    padding: 20px;
    border-radius: 3px;
    background-color: white;
    margin-bottom: 15px;
    position: relative;
    box-shadow: 1px 1px 2px #EEE, 0 -3px 5px #F3F3F3 inset;
}*/

/*#chart_rev{
    width: 750px;
    height: 300px;
}*/

.xchart .axis text {
    font-size: 9.5px !important;
    font-weight: bold;
}

.ex-tooltip {
    position: absolute;
    background: #EEE;
    border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
    box-shadow: 0 1px 3px black;
    box-shadow: 0 1px 3px black;
    border-collapse: separate;
    display: none;
}