/* ---------------------------------------------------------------- **
** Generic
** ---------------------------------------------------------------- */
html {
    font-size: 76%;
}

body {
    /*background: #333 url(../img/bg.gif);*/

    font: normal 12px/1.7 "Trebuchet", Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.5em;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* headers */
h2, h3, h4, h5, h6 {
    /*color: #099;*/
    margin: 0;
    font-weight: normal;
    font-family: "Trebuchet", Trebuchet, Verdana, Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
}

h2 {
    font-size: 1.5em;
    margin: 25px 0 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

h3 {
    font-size: 1.6em;
    margin: 25px 0 15px;
}

h4 {
    font-size: 1.4em;
    margin: 20px 0 10px;
}

h5 {
    font-size: 1.2em;
    margin: 20px 0 5px;
}

h6 {
    font-size: 1em;
    margin: 20px 0 0;
}

/* text */
p {
    margin: 15px 0;
}

acronym {
    cursor: help;
}

pre, code, blockquote {
    margin: 15px 0;
    border: 1px dashed #ddd;
    padding: 15px;
    display: block;
    background: #fff url(../img/grey_grad_.jpg) repeat-x 0 -130px;
    color: #666;
}

blockquote {
    font-family: "Trebuchet", Trebuchet, Verdana, Arial, Helvetica, sans-serif;
    border: 1px solid #ddd;
    padding: 0 15px 0 15px;
    background-color: #eee;
    min-height: 60px;
}

* html blockquote {
    height: 60px;
}

/* links */
a {
    text-decoration: none;
    color: #000;
    outline: none;
    font-family: inherit;
}

a:hover {
    text-decoration: underline;
}

/* images */
img {
    padding: 1px;
    background-color: #fff;
}

a img {
}

a:hover img {
    border-color: #eee;
}

img.right {
    margin: 0 0 20px 20px;
}

img.left {
    margin: 0 20px 20px 0;
}

/* lists */
ul, ol, dl {
    margin: 15px 0 15px 20px;
    padding: 0;
}

ul {
    list-style-type: disc;
}

ul ul, ol ol {
    margin-top: 0;
    margin-bottom: 0;
}

ol {
    margin-left: 25px;
}

dl {
    margin-left: 0;
}

dl dt {
    font-weight: bold;
    margin-top: 15px;
}

dl dd {
    margin: 0;
}

dl dt, li {
    color: #099;
}

li span {
    color: #333;
}

/* forms */
form {
    background: url(../img/grey_grad_.jpg) repeat-x;
    border: 0px solid #ddd;
    padding: 0;
    margin: 25px 0;
}

form fieldset {
    border: 0;
    padding: 10px 25px 15px;
    margin: 0;
}

form fieldset legend {
    display: none;
}

form p {
    height: 1%;
}

form p:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

form p label {
    font-size: 1em;
    color: #333;
    float: left;
    display: block;
    width: 80%;
    margin-right: 20px;
    font-family: "Trebuchet", Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

form p input,
form p select,
.inputF {
    font-size: 1em;
    color: #333;
    border: 1px solid #009933;
    padding: 8px;
    background-color: #eee;
    width: 60%;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.p {
    width: 40.5%;
}

form p select {
    width: 220px;
}

form ul.fieldlist {
    margin: -30px 0 10px 33%;
    padding: 0;
    list-style-type: none;
}

form ul.fieldlist li {
    color: #333;
    padding: 0 30px 5px 0;
    white-space: nowrap;
}

form input.btn,
a.btn {
    width: auto;
    overflow: visible;
    border: 0;
    background: #099 url(../img/image_.jpg) repeat-x 0 -30px;
    padding: 8px 10px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

a.btn:hover {
    background-color: #ccc;
    color: #333;
}

/* horizontal rule */
hr {
    border: 0;
    height: 1px;
    background-color: #ddd;
    color: #ddd;
    margin: 30px 0 0;
}

/* classes */
.left {
    float: left;
}

.right {
    float: right;
}

.hide {
    display: none;
}

/* list of links */
ul.links {
    list-style-type: none;
    margin-left: 0;
    font-weight: bold;
    color: #ccc;
    font-weight: bold;
    border-bottom: 1px dotted;
}

ul.links li {
    margin: 5px 0;
    color: #ccc;
    font-weight: bold;
    border-bottom: 1px dotted;
}

/* list of images */
ul.images {
    margin-left: -15px;
    margin-bottom: 0;
    padding: 15px 0 0;
    list-style-type: none;
    height: 1%;
    width: 104%;
}

* html ul.images {
    width: 100%;
}

ul.images:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}

ul.images li {
    float: left;
    margin: 0;
    padding: 0 0 15px 15px;
}

ul.images li img {
    vertical-align: middle;
}

/*------------------------------------------------------------*
**  Container
**------------------------------------------------------------*/
#container {
    margin: 0 auto;
    width: 1190px;
}

/*------------------------------------------------------------*
**  Header
**------------------------------------------------------------*/
#header {
}

/* Logo */
#header h1 {
    font-family: "Trebuchet", Trebuchet, Verdana, Arial, Helvetica, sans-serif;
    font-size: 2.3em;
    font-weight: normal;
    color: #099;
    margin: 0;
    padding: 40px 0;
    letter-spacing: -1px;
}

#header h1 a {
    text-decoration: none;
    color: #099;
}

#header h1 a:hover {
    text-decoration: none;
}

#header h1 span {
    color: #a52a2a;
}

/*------------------------------------------------------------*
**  Body
**------------------------------------------------------------*/
#body {
    padding: 20px;
    background: #222 url(../img/body_.png) repeat-x;
}

/*------------------------------------------------------------*
**  Navigation
**------------------------------------------------------------*/
ul#nav {
    margin: 0 0 20px;
    padding: 0;
    list-style-type: none;
    border-top: 1px solid #535457;
    border-bottom: 1px solid #050A10;
    height: 1%;
}

ul#nav:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}

ul#nav li {
    /* this width needs changing
	depending on the amount of links. 
	Divide 100% by the amount of links 
	and set the value here. 
	e.g. 5 links: 100/5 = 20% */
    width: 10%;
    float: left;
    margin: 0;
    font-size: 1.1em;
    background: #3C3C3C url(../img/nav_over_.png) no-repeat 50% 100%;
}

ul#nav li a {
    display: block;
    background: #3C3C3C url(../img/nav_.png) repeat-x 50% 100%;
    padding: 11px 0 14px;
    color: #fff;
    text-decoration: none;
    border-right: 1px solid #535457;
    border-left: 1px solid #050A10;
    position: relative;
}

ul#nav li.first a {
    border-left-color: #535457;
}

ul#nav li a:hover {
    background-color: transparent;
    background-image: none;
}

ul#nav li.on a,
ul#nav li.on a:hover {
    background-image: url(../img/nav_on_.png);
}

/*------------------------------------------------------------*
**  Content
**------------------------------------------------------------*/
#content {
    background-color: #fff;
    padding: 2px;
    text-align: left;
}

#content div { /*background: url(../img/content_.png) repeat-x;*/
    padding: 1px 20px 15px;
    min-height: 195px;
}

* html #content div {
    height: 195px;
}

#content div:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

#content div div {
    background-image: none;
    padding: 0;
    min-height: 0;
}

* html #content div div {
    height: 1%;
}

#content #sub {
    padding: 0 0 0 20px;
}

#content #main {
    padding: 0 20px 0 0;
}

#content #main {
    width: 830px;
    float: left;
}

#content #sub {
    width: 230px;
    float: right;
    font-family: inherit;
    font-size: 14px;
}

#home #content #sub {
    padding: 0 20px 0 0;
    width: 340px;
    float: left;
    background: url(../img/sub_.png) no-repeat 100% 0%;
}

#home #content #main {
    padding: 0 0 0 20px;
    float: right;
    width: 290px;
    background-image: none;
}

#content #sub h2 {
    font-size: 1.5em;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-family: "Trebuchet", Trebuchet, Verdana, Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
}

/*------------------------------------------------------------*
**  Footer
**------------------------------------------------------------*/
#footer {
    padding: 0 20px;
    background-color: #222;
    height: 1%;
    font-size: 0.9em;
    color: #ccc;
    margin-top: -20px;
}

#footer:after {
    content: ".";
    clear: both;
    visibility: hidden;
    display: block;
    height: 0;
}

#error {
    color: red;
}

#Pages a {
    padding: 5px 10px;
    background-color: gray;
    border: 1px solid gray;
    float: left;
    margin: 0 2px;
}

#Pages strong {
    padding: 5px 10px;
    background-color: gray;
    border: 1px solid gray;
    float: left;
    margin: 0 2px;
}

/*Data Table CSS*/

table.fancy {
    margin: 1em 1em 1em 0;
    /*background: whitesmoke;*/
    border-collapse: collapse;
}

table.fancy tr:hover {
    /*background: lightsteelblue !important;*/
}

table.fancy th, table.fancy td {
    border: 1px green solid;
    padding: 0.2em;
}

table.fancy th {
    /* background: gainsboro;*/
    text-align: left;
}

table.fancy caption {
    margin-left: inherit;
    margin-right: inherit;
}

hr {
    height: 0.5px;
    border: none;
    border-top: 1px solid #228B22;
}

.note {
    border: 1px solid #BE7;
    background-color: #F8FFF0;
    padding: 10px;
    font-family: serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    color: Grey;
}